<h2><%= @event.name %></h2>
<%= @event.description %>
<div id="map"></div>
<ul id="occasions">
  <% for occasion in @event.occasions %>
    <li>
      <%=render :partial => "occasions/occasion", :locals => {:occasion => occasion} %>
    </li>
  <% end %>
</ul>
<div class="edit_occasion">
  <%= form_for [@event, current_user.events.find(@event.id).occasions.build()] do |f| %>
    <div class="coordinate_input">
      <%= f.text_field :latitude %>
    </div>
    <div class="coordinate_input">
      <%= f.text_field :longitude %>
    </div>
    <div class="date_field">
      <%= f.text_field :occurred_at %>
    </div>
    <div class="note_field">
      <%= f.label :note %>
      <%= f.text_area :note %>
    </div>
      <%= f.submit "Add" %>
  <% end %>
</div>